:root{
    --onboardinglight: #535353;
    --onboardingdark: #0C2D30;
    --bg: #F0F8F9;
}
.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__button{
    background-color: #126B72;
    color: white;
    border-radius: 50px;
    border: none;
    width: 15.9375rem;
    height: 3.375rem;
    margin-bottom: 1.5rem;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.125rem;
}
/* .login__form--div{
    margin-bottom: rem;
} */
.login{
  display: flex;
  flex-direction: column;
}
.buttons{
    background-color: var(--bg);
}
.formRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: flex-start;
}
label{
    margin-left: .5rem;
    margin-bottom: .75rem;
    color: var(--onboardinglight)
}
.login__form--input{
    background-color: var(--bg);
    padding: .5rem;
    width: 18.875rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 50px;
}
.login__signupLink{
    color: var(--onboardinglight);
    text-decoration: none;
}
.login__title{
    color: var(--onboardingdark);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.login__subtitle{
    color: var(--onboardinglight);

}

